@model Blog.Models.Post
@{
    Layout = "_Layout";
}


<div>
    <form asp-controller="Home" asp-action="Edit" method="post">
        <div>
            <label>Title</label>
            <input type="text" asp-for=@Model.Title />
        </div>
        <div>
            <label>Author</label>
            <input type="text" asp-for=@Model.Author />
        </div>
        <div>
            <label>Body</label>
            <input type="text" asp-for=@Model.Body />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>