@model List<Blog.Models.Post>
@{
    Layout = "_Layout";
}


<h2>Blog Home Page</h2>

<div>
    <ul>
        @foreach(var post in Model)
        {
            <li>
                @*<a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>*@
            </li>
            
        }
    </ul>
</div>