@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width", initial-scale="1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            
                <a asp-controller="HomeController" asp-action="/Home/Index">Home</a>
                <a asp-controller="HomeController" asp-action="/Home/Post">Post</a>
                <a asp-controller="HomeController" asp-action="/Home/Edit">Edit</a>
            

        </nav>
    </header>
    <div>
        @RenderBody();
    </div>
</body>
</html>